body{
    display: flex;
    flex-direction: column
}
header{
    height: 150px;
    flex-grow:0;
    background-color: #E0E0E0;
}

.logo {
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
}
.menu{
    background-color: #E0E0E0;
    }

.nav_list{
    display: inline-block;
    padding: 10px;
    border: #000;
    border-style: none solid solid none;
    background-color: #78909C;
    }

.mnue_btn{
    margin-left: 30px;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    }

main{
    flex-grow: 1;
    margin-top:20px;
    width:90%;
    margin-left: 5%;
}
#column_left{
    display:inline-block;
    width: 950px;
    background-color: lightpink;
}

#column_right{
    display:inline-block;
    width: 350px;
    background-color: lightseagreen;
    float: right;
}

.content_left{
    display: block;
    background-color: #DCEDC8;
    margin:10px;
    padding:25px;
    clear: both;
}

.content_right{
    display: block;
    background-color: beige;
    margin:10px;
    padding:25px;
    clear: both;
}

.content_right_bottom{
    background-color: beige;
    margin:10px;
    padding:5px;
    
}
footer{
    flex-grow: 0;
    height: 50px;
    background-color: bisque;
    margin-top:39px;
    font-size: 15px;
    font-weight: lighter;
    text-align: end;
  }
.clearfix{
    content: '';
    display: table;
    clear: both;
}

.image{
    float: left;
    height: 150px;
    width: 270px;
    display: block;
    margin-top: 2px;
    padding: 5px;
}  

.image-left-column {
    display:block;
    float: left;
    margin: 10px;
    width: 300px;
    height: 170px;
    
}

.paragraph-format {
    margin: 20px;
    padding: 25px;
}