body{
    display: flex;
    flex-direction: column
}
header{
    flex-grow:0;
    background-color: lightgoldenrodyellow;
}

.logo {
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
}
.menu{
    margin-top: 100px;
    background-color: lightskyblue;
}

.nav_list{
    display: inline-block;
    padding: 10px;
    border: #000;
    border-style: none solid solid none;
}

.mnue_btn{
    margin-left: 30px;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    }

main{
    flex-grow: 1;
    margin-top:20px;
    width:90%;
    margin-left: 5%;
}
#column_left{
    display:inline-block;
    width: 950px;
    height: 600px;
    background-color: lightpink;
}

#column_right{
    display:inline-block;
    width: 350px;
    height: 600px;
    background-color: lightseagreen;
    float: right;
}

.content_left{
    background-color: beige;
    height: 270px;
    margin:10px;
    padding:5px;
    clear: both;
}

.content_right{
    background-color: beige;
    height: 190px;
    margin:10px;
    padding:5px;
    clear: both;
}

.content_right_bottom{
    background-color: beige;
    height: 90px;
    margin:10px;
    padding:5px;
    clear: both;
}
footer{
    flex-grow: 0;
    height: 50px;
    background-color: bisque;
    margin-top:39px;
    font-size: 15px;
    font-weight: lighter;
    text-align: end;
  }

.image{
    height: 30px;
    width: 150px;
    display: block;
    margin-top: 2px;
    padding: 5px;
}  